			body{
				background:#fff url(images/full_mosaic.jpg);
				margin:0;
				padding:0;
				font-family: Helvetica, sans-serif;
			}
			:focus{
				outline:0;
			}
			::-webkit-scrollbar {
				width: 12px;
			}
			 
			::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
				border-radius: 10px;
			}
			 
			::-webkit-scrollbar-thumb {
				border-radius: 10px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
			}
			*{
				-webkit-tap-highlight-color: transparent;
			}
			.ui-dashbox a, .ui-dashbox a:link, .ui-dashbox a:active, .ui-dashbox a:visited{
				color:#7ba8ed;
				text-decoration: none;
			}
			header.main{
				color:#fff;
				width:100%;
				height:247px;
				/*background: #000 url(images/dashblitz.png) center no-repeat;*/
				
				background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.98) 99%, rgba(0,0,0,1) 100%), url(images/mosaic.jpg) no-repeat;
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.98)), color-stop(100%,rgba(0,0,0,1))), url(images/mosaic.jpg) no-repeat;
				background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.98) 99%,rgba(0,0,0,1) 100%), url(images/mosaic.jpg) no-repeat;
				background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.98) 99%,rgba(0,0,0,1) 100%), url(images/mosaic.jpg) no-repeat;
				background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.98) 99%,rgba(0,0,0,1) 100%), url(images/mosaic.jpg) no-repeat;
				background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.98) 99%,rgba(0,0,0,1) 100%), url(images/mosaic.jpg) no-repeat;
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
				background-position:center;
				background-size:100%;
			}
			header.main span{
				font-size: 48pt;
				padding-top: 70px;
				display: block;
				text-align: center;
				font-family: 'PT Sans', sans-serif;
				text-shadow: 0px 0px 25px #ffffff, 0px 1px 0px #121212
			}
			#powerblue{
				background:url(images/blue.png) repeat-x;
				width:100%;
				height:201px;
				-webkit-box-shadow: 0px 2px 4px 0px #3b3b3b;
				box-shadow: 0px 2px 4px 0px #3b3b3b;
			}
			#bird{
				width:130px;
				height:100px;
				background: url(images/bird.png) no-repeat;
				margin:0 auto;
			}
			#note{
				max-width:675px;
				height:74px;
				background: url(images/exp_note.png) no-repeat;
				margin:0 auto;
			}
			.ui-dashbox{
				position:relative;
				max-width:20%;
				min-width:300px;
				float:left;
				border-radius:6px;
				-webkit-border-radius: 6px;
				padding:0;
				background:#fff;
				margin:10px;
				-webkit-box-shadow: 0px 0px 10px 0px #4e4e4e;
				box-shadow: 0px 0px 10px 0px #4e4e4e;
			}
			
			.ui-dashbox::before,
			.ui-dashbox::after{
				-webkit-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.75);
				box-shadow: 0 20px 10px rgba(0, 0, 0, 0.75);
				-webkit-transform: rotate(-4deg);
				-moz-transform: rotate(-4deg);
				-o-transform: rotate(-4deg);
				-ms-transform: rotate(-4deg);
				transform: rotate(-4deg);
			}
			
			.ui-dashbox img.indicator{
				z-index: 99;
				position: absolute;
				top: 13px;
				left: 14px;
				display:none;
			}
			
			.fullWidth{
				display:block;
				max-width:none;
				min-width:none;
			}
			
			.columnWidth{
				max-width:20%;
				min-width:300px;
			}
			
			.halfWidth{
				width:48%;
				margin:1%;
				max-width: none;
				min-width: none;
			}
			
			.threeColWidth{
				max-width: none;
				min-width: none;
				width:31%;
				margin:1%;
			}
			
			.fourColWidth{
				max-width: none;
				min-width: none;
				width:23%;
				margin:1%;
			}
			
			@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
				#bird,#note{
					display:none;
				}
				.ui-dashbox{
					width:48%;
					margin:1%;
					max-width: none;min-width:none;
				}
				.columnWidth{max-width: none;min-width:none;}
				.fullWidth{max-width: none;min-width:none;}
			}
			
			@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
				#bird,#note{
					display:none;
				}
				.ui-dashbox{
					width:31%;
					margin:1%;
					max-width: none;min-width:none;
				}
				.columnWidth{max-width: none;min-width:none;}
				.fullWidth{max-width: none;min-width:none;}
			}
			
			.ui-dashbox img{
				padding: 0;
				margin: 0;
				float: left;
				border:0;
			}
			
			.ui-dashbox header{
				vertical-align: middle;
				font-size: 14pt;
				overflow:auto;
				box-sizing: border-box;
				background: rgb(19,153,242);
				background: -moz-linear-gradient(top,  rgba(19,153,242,1) 0%, rgba(25,137,233,1) 22%, rgba(33,105,219,1) 43%, rgba(37,75,200,1) 68%, rgba(38,73,199,1) 73%, rgba(42,76,201,1) 78%, rgba(54,88,218,1) 89%, rgba(58,86,219,1) 95%, rgba(57,77,213,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,153,242,1)), color-stop(22%,rgba(25,137,233,1)), color-stop(43%,rgba(33,105,219,1)), color-stop(68%,rgba(37,75,200,1)), color-stop(73%,rgba(38,73,199,1)), color-stop(78%,rgba(42,76,201,1)), color-stop(89%,rgba(54,88,218,1)), color-stop(95%,rgba(58,86,219,1)), color-stop(100%,rgba(57,77,213,1)));
				background: -webkit-linear-gradient(top,  rgba(19,153,242,1) 0%,rgba(25,137,233,1) 22%,rgba(33,105,219,1) 43%,rgba(37,75,200,1) 68%,rgba(38,73,199,1) 73%,rgba(42,76,201,1) 78%,rgba(54,88,218,1) 89%,rgba(58,86,219,1) 95%,rgba(57,77,213,1) 100%);
				background: -o-linear-gradient(top,  rgba(19,153,242,1) 0%,rgba(25,137,233,1) 22%,rgba(33,105,219,1) 43%,rgba(37,75,200,1) 68%,rgba(38,73,199,1) 73%,rgba(42,76,201,1) 78%,rgba(54,88,218,1) 89%,rgba(58,86,219,1) 95%,rgba(57,77,213,1) 100%);
				background: -ms-linear-gradient(top,  rgba(19,153,242,1) 0%,rgba(25,137,233,1) 22%,rgba(33,105,219,1) 43%,rgba(37,75,200,1) 68%,rgba(38,73,199,1) 73%,rgba(42,76,201,1) 78%,rgba(54,88,218,1) 89%,rgba(58,86,219,1) 95%,rgba(57,77,213,1) 100%);
				background: linear-gradient(to bottom,  rgba(19,153,242,1) 0%,rgba(25,137,233,1) 22%,rgba(33,105,219,1) 43%,rgba(37,75,200,1) 68%,rgba(38,73,199,1) 73%,rgba(42,76,201,1) 78%,rgba(54,88,218,1) 89%,rgba(58,86,219,1) 95%,rgba(57,77,213,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1399f2', endColorstr='#394dd5',GradientType=0 );
				padding:7px;
				height:45px;
				line-height:30px;
				color:#f2f2f2;
				text-shadow: 0px 1px 3px #424242;
				-webkit-border-radius: 6px 6px 0px 0px;
				border-radius: 6px 6px 0px 0px;
				border-bottom:1px solid #1829b3;
				-webkit-box-shadow: inset 0 1px 0 0 #6cbcfa;
				box-shadow: inset 0 1px 0 0 #6cbcfa;
			}
			
			.ui-dashbox header a.tool,
			.ui-dashbox header a.tool:visited,
			.ui-dashbox header a.tool:link{
				float:right;
				display:block;
				border-radius:6px;
				padding:6px;
				-webkit-border-radius:6px;
				color:white;
				text-decoration:none;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				background-color: #fff;
				-moz-box-shadow:
					0 1px 0 rgba(11,128,226,.75),
					inset 0 1px 0 rgba(0,0,0,.68),
					inset 0 0 6px rgba(0,0,0,.23);
				-webkit-box-shadow:
					0 1px 0 rgba(11,128,226,.75),
					inset 0 1px 0 rgba(0,0,0,.68),
					inset 0 0 6px rgba(0,0,0,.23);
				box-shadow:
					0 1px 0 rgba(11,128,226,.75),
					inset 0 1px 0 rgba(0,0,0,.68),
					inset 0 0 6px rgba(0,0,0,.23);
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxZDJjYjkiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZGE3ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
				background-image: -moz-linear-gradient(90deg, #1d2cb9 0%, #3da7ff 100%);
				background-image: -o-linear-gradient(90deg, #1d2cb9 0%, #3da7ff 100%);
				background-image: -webkit-linear-gradient(90deg, #1d2cb9 0%, #3da7ff 100%);
				background-image: linear-gradient(90deg, #1d2cb9 0%, #3da7ff 100%);
			}
			
			.ui-dashbox header a.tool:active{
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxZDJjYjkiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjY4YWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
				background-image: -moz-linear-gradient(90deg, #1d2cb9 0%, #1668ac 100%);
				background-image: -o-linear-gradient(90deg, #1d2cb9 0%, #1668ac 100%);
				background-image: -webkit-linear-gradient(90deg, #1d2cb9 0%, #1668ac 100%);
				background-image: linear-gradient(90deg, #1d2cb9 0%, #1668ac 100%);
			}
			
			.ui-dashbox .ui-dashbox-content{
				padding:7px;
				overflow-y:auto;
			}
			.ui-dashbox footer{
				padding: 15px;
				background: rgb(249,249,249);
				background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(247,247,247,1) 7%, rgba(239,239,239,1) 21%, rgba(237,237,237,1) 30%, rgba(247,247,247,1) 57%, rgba(245,245,245,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(7%,rgba(247,247,247,1)), color-stop(21%,rgba(239,239,239,1)), color-stop(30%,rgba(237,237,237,1)), color-stop(57%,rgba(247,247,247,1)), color-stop(100%,rgba(245,245,245,1)));
				background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 7%,rgba(239,239,239,1) 21%,rgba(237,237,237,1) 30%,rgba(247,247,247,1) 57%,rgba(245,245,245,1) 100%);
				background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 7%,rgba(239,239,239,1) 21%,rgba(237,237,237,1) 30%,rgba(247,247,247,1) 57%,rgba(245,245,245,1) 100%);
				background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 7%,rgba(239,239,239,1) 21%,rgba(237,237,237,1) 30%,rgba(247,247,247,1) 57%,rgba(245,245,245,1) 100%);
				background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(247,247,247,1) 7%,rgba(239,239,239,1) 21%,rgba(237,237,237,1) 30%,rgba(247,247,247,1) 57%,rgba(245,245,245,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f5f5f5',GradientType=0 );
				-webkit-border-radius: 0px 0px 6px 6px;
				border-radius: 0px 0px 6px 6px;
				-webkit-box-shadow: inset 0px -3px 6px 0px #c1c1c1;
				box-shadow: inset 0px -3px 6px 0px #c1c1c1;
				height: 45px;
				border-top:1px solid #c7c7c7;
			}
			
			.uibutton,
			a.uibutton{
				color:#6d6d6d;
				background: rgb(255,255,255);
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1)));
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );
				text-shadow: 0px 1px 0px #ffffff;
				filter: dropshadow(color=#ffffff, offx=0, offy=1);
				text-align:center;
				padding:10px;
				border-radius: 8px;
				-webkit-border-radius: 8px;
				text-decoration:none;
				-webkit-box-shadow: 0px 1px 2px 0px rgba(65, 65, 65, .68);
				box-shadow: 0px 1px 2px 0px rgba(65, 65, 65, .68);
				border:1px solid rgba(65,65,65,.20);
			}
			
			.uibutton:active{
				border:1px solid rgba(65,65,65,.10);
				-webkit-box-shadow: inset 0px 1px 2px 0px rgba(65, 65, 65, .68);
				box-shadow: inset 0px 1px 2px 0px rgba(65, 65, 65, .68);
				background: rgb(235,235,235);
				background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 );
			}
			
			.ui-dashbox .uibutton{
				display:block;
			}
			
			.tweet-item{
				clear:both;
				margin-bottom:10px;
				padding-bottom:10px;
				border-bottom:1px solid #c7c7c7;
				
				white-space: pre;           /* CSS 2.0 */
				white-space: pre-wrap;      /* CSS 2.1 */
				white-space: pre-line;      /* CSS 3.0 */
				white-space: -pre-wrap;     /* Opera 4-6 */
				white-space: -o-pre-wrap;   /* Opera 7 */
				white-space: -moz-pre-wrap; /* Mozilla */
				white-space: -hp-pre-wrap;  /* HP Printers */
				word-wrap: break-word;      /* IE 5+ */
				
			}
			
			.tweet-item:last-child{
				border-bottom:none;
			}
			
			.tweet-item .tweet-item-img{
				margin-right:5px;
			}
			
			.tweet-item .tweet-item-img img{
				float:none;
				width:48px;
				border-radius:6px;
				-webkit-border-radius:6px;
			}
			
			.tweet-item div{
				float:left;
			}
			
			.tweet-item .tweet-item-details{
				margin-left:5px;
				font-size:11pt;
				float:none;
			}
			
			.tweet-item .tweet-item-details p{
				margin: 5px;
				padding-left:45px;
			}
			
			.show-pool-button{
				padding:15px;
				background:#e2e8ee;
				text-align:center;
				color:blue;
				display:none;
				text-shadow: 0px 1px 0px #ffffff;
				-webkit-box-shadow: inset 0px 4px 8px 0px #c8c8c8;
				box-shadow: inset 0px 4px 8px 0px #c8c8c8;
			}
			
			.hidden-pool{
				display:none;
			}
			
			/* pie! */
			.timer {
				margin:5px;
				position:relative;
				width:1em;
				height:1em;
				float: left;
				border-radius:15px;
				-webkit-border-radius:15px;
				background:#4696f0;
				cursor:pointer;
			}
			.timer > .percent {
				position: absolute;
				top: 1.05em;
				left: 0;
				width: 3.33em;
				font-size: 0.3em;
				text-align:center;
			}
			.timer > #slice {
				position:absolute;
				width:1em;
				height:1em;
				clip:rect(0px,1em,1em,0.5em);
			}
			.timer > #slice.gt50 {
				clip:rect(auto, auto, auto, auto);
			}
			.timer > #slice > .pie {
				border: 0.1em solid #c0c0c0;
				position:absolute;
				width:0.8em; /* 1 - (2 * border width) */
				height:0.8em; /* 1 - (2 * border width) */
				clip:rect(0em,0.5em,1em,0em);
				-moz-border-radius:0.5em;
				-webkit-border-radius:0.5em; 
				border-radius:0.5em; 
			}
			.timer > #slice > .pie.fill {
				-moz-transform:rotate(180deg) !important;
				-webkit-transform:rotate(180deg) !important;
				-o-transform:rotate(180deg) !important;
				transform:rotate(180deg) !important;
			}
			.timer.fill > .percent {
				display: none;
			}
			.timer.fill > #slice > .pie {
				border: transparent;
				background-color: #fff;
				width:1em;
				height:1em;
			}
